.box{

  background-color: rgb(126, 77, 77);
  width: 100px;
  height: 100px;
  padding: 20px;
  
  margin-bottom: 20px;
}

.data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
}